.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.item {
  width: 380px;
  flex-grow: 1;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
  flex-grow: 2;
  order: 1;
}
.purple {
  background-color: FUCHSIA;
}
