<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="main.css" type="text/css" />
    <title>My express application</title>
  </head>
  <body>
    <h1>Hello World! How do you do?</h1>
    <ul>
      <% for (let i=0;i<10;i++) { %>
      <li><%=i%></li>
      <%}%>
    </ul>
  </body>
</html>
