<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Space</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
      <header>
          <img src="" alt="">
          <span>space</span>
      </header>
      <main>
          <section>
              <aside>
                  <button class="Up">Up</button>
                  <span class="score">579</span>
                  <button class="down">Down</button>
              </aside>
              <article>
                <h2>Title</h2>
                <p>Submittedday ago</p>
                <link rel="stylesheet" href="">
                <link rel="stylesheet" href="">
              </article>

          </section>
      </main>
    <script src="../assets/app.js"></script>
  </body>
</html>
