<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Space</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <header>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png"
        alt="nasa logo"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap"
        rel="stylesheet"
      />
      <span>space</span>
    </header>
    <div class="container">
      <aside>
        <button>Submit a new post</button>
        <div class="about">
          <div class="about-text">
            <h1>About</h1>
            <span>r/space</span>
          </div>
          <p>Share & discuss informative content on:</p>
          <ul>
            <li>Astro</li>
            <li>Cosmo</li>
            <li>Space</li>
            <li>Planet</li>
            <li>Astrobio</li>
          </ul>
        </div>
      </aside>
      <main>
        <section>
          <div class="vote">
            <button class="up"><img src="../assets/arrows/upvote.png" alt="upvote"></button>
            <span class="score">579</span>
            <button class="down"><img src="../assets/arrows/downvote.png" alt="upvote"></button>
          </div>
          <article>
            <h2>Title</h2>
            <p>Submittedday ago</p>
            <a href="">Modify</a><a href="">Delete</a>
          </article>
        </section>
      </main>
    </div>
    <script src="../assets/app.js"></script>
  </body>
</html>
