<% posts.forEach((post) => {%>
<section>
  <div class="vote">
    <button class="up">
      <img src="./arrows/upvote.png" alt="upvote" />
    </button>
    <span class="score">579</span>
    <button class="down">
      <img src="./arrows/downvote.png" alt="upvote" />
    </button>
  </div>
  <article>
    <h2><%=post.title%></h2>
    <p><%=post.timestamp%></p>
    <a href="">Modify</a><a href="">Delete</a>
  </article>
</section>
<% });%>
