<form method="POST" action="/posts">
    <label>
      title:
      <input name="title" required>
    </label>
    <label>
      url:
      <input type="url" name="url" required>
    </label>
    <input type="submit" value="login">
    <% if (typeof error !== 'undefined') {%>
      <p><%=error%></p>
    <% } %>
  </form>