<form method="POST" action="/posts">
  <label for="title">title:</label>
  <input name="title" required />
  <label for="url">url:</label>
  <input type="url" name="url" required />
  <input type="submit" value="login" />
  <% if (typeof error !== 'undefined') {%>
  <p><%=error%></p>
  <% } %>
</form>
