.first-row {
    display: flex;

}
table {
    margin: 20px 0;
}
a {
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-transform: uppercase;  
}
th {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;  
}
.second-column {
    width: 200px;
    text-align: center;
}