.first-row {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
}
.name {
  display: inline-flex;
}
table {
  margin: 20px 0;
}
a {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  text-transform: uppercase;
}
th {
    height: 45px;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.second-column {
  width: 200px;
  text-align: center;
}
td {
    margin: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
