.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: yellow;
  justify-content: center;
  align-items: center;
} 
/* .yellow {
  height: 400px;
  width: 100vh;
  background-color: yellow;
} */
.purple {
  height: 40px;
  width: 40px;  
  background-color: FUCHSIA;
}
