.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}
.item {
  height: 190px;
  flex-grow: 1;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
  flex-grow: 2;
}
.purple {
  background-color: FUCHSIA;
}
