body {
  height: auto;
  margin: 0;
}
header {
  display: flex;
  background-color: purple;
  height: auto;
  position: sticky;
  top: 0;
}
a {
  height: 20px;
  width: auto;
  background-color: cyan;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
  padding: 5px;
}
p {
  padding: 15px;
  margin: 0;
}
.container {
  margin: 10px 50px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  margin: 10px;
  width: 58%;
  /* height: 100%; */
  padding: 15px;
  background-color: yellow;
}
.sidebar {
  margin: 10px;
  padding: 15px;
  /* height: 100%; */
  width: 28%;
  background-color: green;
}
.footer {
  height: auto;
  margin: 10px 90px;
  background-color: gray;
}
